/* =====================================index.html===================================== */
:root {
    --accent-color: #2196F3;
    --title-color: #212121;
    --about-us-card-gap: 30px;
}
body {
    color: #757575;
    font-family: Roboto, sans-serif;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
   
}
/* Сброс отступов между элементами */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
    
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
/* =======================header======================= */
.header {
    border-bottom: 1px solid #ECECEC;
}
.header-container {
    display: flex;
    align-items: center;
}

/* log */
.log-web {
    color:var(--accent-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
}
.log-studio {
    color: #000000;    
}

/* nav */
.nav {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-nav .link {
display: flex;
padding-top: 32px;
padding-bottom: 32px;
} 

.header-nav .list:not(:last-child) {
    margin-right: 50px;
}
.header-nav a {
    color:var(--title-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-nav a:hover,
.header-nav a:focus{
    color:var(--accent-color);  
}
/* header-adress */
.header-adress {
    display: flex;
    align-items: center;
}
.header-adress .list:not(:last-child) {
    margin-right: 50px;
    margin-left: 331px;
} 

a[href="mailto:info@devstudio.com"],
a[href="tel:+380961111111"]
{
    color:#757575;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.header-adress a:hover,
.header-adress a:focus
{
    color:var(--accent-color);
}

/* =======================hero======================= */
.hero {
    background-color: #2F303A;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-name {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.hero-button {
    color: white;
    background-color:var(--accent-color);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center; 
    text-align: center;
    letter-spacing: 0.06em;
    margin: 0 auto;
    border-radius: 4px;
}
.hero-button:hover, 
.hero-button:focus{
    background-color:var(--accent-color);
}

/* adout us */
.about-us-list {
   display: flex; 
   flex-wrap: wrap;
     
} 
.about-us-list > .list {
    flex-basis: calc((100% - 90px) /4 );
}
.about-us-list > .list:not(:first-child) {
    margin-left: var(--about-us-card-gap); 
 } 
 
.about-us-title {
    color:var(--title-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.about-us p {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
    
}
/* our occupation */
.our-occupation {
 padding-top: 0;   
}
.our-occupation-title{
    color:var(--title-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}
.our-ocupation-list {
    display: flex;
    margin-right: -30px;
    margin-left: -30px;
}
.our-ocupation-list .list {
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 31px;
    flex-basis: calc((100% - 90px) / 3);
}
/* our team */

.our-team-title {
    margin-bottom: 50px;
    color:var(--title-color); 
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em; 
}
.our-team h3{
    color:var(--title-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
   
    
}
.our-team p {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
}
.our-team-list {
    display: flex;
    align-items: center;
   
   
    margin-right: -30px;
    flex-wrap: wrap;
}
.our-team-list .list:not(:last-child) {
    padding-right: 30px;
    flex-basis: calc ((100% - 120px) / 4);
}
.our-team-names {
    padding-top: 30px;
    padding-bottom: 30px;
}
/* =======================footer======================= */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-log-studio {
    color: #FFFFFF;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.adress-phisical {
    display: block;
    color: #FFFFFF;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
}
.adress-phisical:hover,
.adress-phisical:focus {
    color:var(--accent-color);
}
.adress-mail,
.adress-tel {
    display: block;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 9px;
}
.adress-mail:hover,
.adress-mail:focus {
    color:var(--accent-color);
}
.adress-tel:hover,
.adress-tel:focus {
    color:var(--accent-color);
}
/* =====================================portfolio.html===================================== */
/* photo filter */

.portfolio-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}
.portfolio-title {
    display: none;
}
.filter-batton {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
    background-color: #F5F4FA;
    padding: 6px 22px;
    border:none;
}
.portfolio-list :not(:first-child) {
    margin-left: 8px;
}
.filter-batton:hover,
.filter-batton:focus {
    background-color:var(--accent-color)
}
/* fhoto list */
.photo-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-top: -30px;
}
 .photo-list .list {
    margin-top: 34px;
    margin-right: 30px; 
    flex-basis: calc((100% - 90px) / 3);
 }   
 .photo-list .list:nth-child(3n) {
    margin-right: 0;
 }
.photo-list h2 {
    color:var(--title-color);
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.photo-list p {

    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
.photo-list-description {
    padding: 20px 24px;
        
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;;
    border-bottom: 1px solid #ECECEC;;
}

